.form-control{
  border-radius: 20px;
}

html{
  //background-image: linear-gradient(to right top, #000000, #282625, #4b4744, #6f6c66, #91948b);
  height: 100%;
}

body{
  background-image: linear-gradient(to left bottom, #051937, #004b78, #0085a7, #00c0b2, #05f99a);
  height: 100%;
}


h1{
  color: black;
  font-family: 'Pacifico', cursive;
}

p{
  color: black;
  font-family:'Roboto', sans-serif;
}



