<div class="container-fluid p-3">
  <div class="card mb-3" *ngFor="let item of wods ">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../../../assets/images/lumberjack.png" class="card-img" alt="parker">
      </div>
      <div class="col-md-8" >
        <div class="card-body">
          <div class="card-title" [innerHTML]=" item?.resources[translate.currentLang+'_'+resources.NAME]"></div>
          <div class="card-text " [innerHTML]=" item?.resources[translate.currentLang+'_'+resources.DESCRIPTION] "></div>
          <p class="card-text"><small class="text-muted">{{'CAP_TIME' | translate}} {{ item?.capTime }}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

