.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}


.main-submit-form{
  max-width: 600px!important;

}

::ng-deep.ngb-tp-input-container.ngb-tp-hour{
  display: none!important;
}

::ng-deep.btn-link{
  width: auto!important;
  border: none!important;
  background-color: transparent!important;
  color: white!important;
}


