<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/images/user.png" width="30" height="30" alt="">
  </a>
</nav>
<div class="container p-3">
  <form class="example-container"  [formGroup]="submitForm" (ngSubmit)="submitScoreOfUser()">
    <mat-form-field>
      <input matInput placeholder="Input">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    <button type="submit" class="btn btn-large" >Submit</button>
  </form>

  <button [routerLink]="'/home/list'" routerLinkActive="active" class="btn btn-large" >Go Back</button>
</div>
