<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/images/user.png" width="30" height="30" alt="">
  </a>
</nav>
<div class="container main-submit-form p-3">

  <div class="container">

    <div class="row">
      <div class="col-6">info</div>
      <div class="col-6">info</div>
    </div>

  </div>

  <form class="example-container"  [formGroup]="submitForm" (ngSubmit)="submitScoreOfUser()">
    <mat-form-field *ngIf="typeOfwod.FOR_TIME">
      <input matInput placeholder="Input">
    </mat-form-field>

    <mat-form-field *ngIf="typeOfwod.REPS">
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    <button type="submit" class="btn btn-large" >Submit</button>
  </form>

  <button [routerLink]="'/home/list'" routerLinkActive="active" class="btn btn-large" >Go Back</button>
</div>
