<div class="container">

  <div>

    <div class="card mb-3 shadow p-3 bg-white rounded profile-card">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img [src]="user?.photoUrl | async" class="card-img" alt="picUser">
        </div>
        <div class="col-md-8">
          <div class="card-body ">
            <h5 class="card-title">{{ userName }} {{  userLastName }}</h5>
            <p class="card-text">{{ 'LANDING_INFO' | translate }}</p>
            <p><ngb-progressbar [value]="25"></ngb-progressbar></p>
            <p class="card-text"><small class="text-muted">{{ 'LOG_LIST_LEVEL' | translate }}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6 " *ngFor="let list of listCart">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body ">
          <h5 class="card-title">{{ list.title }}</h5>
          <p class="card-text">{{ list.subTitle }}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div>


</div>

