.jumbotron-fluid{
  background-image: url("../../../assets/images/jumbotron.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
}

h1{
  color: white;
}
p{

  color: white;
  font-size: larger;
}
