<div class="container  d-flex justify-content-center">
  <!-- Content here -->
  <div class="form-container row justify-content-md-center ">
    <div>
      <h1>{{ 'LOGIN_TITLE' |  translate }}</h1>
    </div>
    <form class="col-12 col-md-12 col-lg-12" [formGroup]="loginInForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" type="email" formControlName="username">
      </mat-form-field>

      <!--<div class="form-group">-->
        <!--<label for="exampleInputEmail1">Email address</label>-->
        <!--<input type="email" class="form-control" formControlName="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
      <!--</div>-->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" type="password" formControlName="password">
      </mat-form-field>
      <div class="form-group form-check">
        <input type="checkbox"  formControlName="rememberPassword"  class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-1 text-center">
        <button type="submit" class="btn btn-large" >Submit</button>

      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-1 text-center">
        <button class="btn btn-large" [routerLink]="'/register'" routerLinkActive="active">{{ 'REGISTER' | translate }}</button>
      </div>
    </form>
  </div>

</div>

