@import '~@angular/material/theming';
@include mat-core();

html{
  //background-image: linear-gradient(to right top, #000000, #282625, #4b4744, #6f6c66, #91948b);
  height: 100%;


}

body{
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


h1{
  color: black;
  font-family: 'Pacifico', cursive;
}

p{
  color: black;
  font-family:'Roboto', sans-serif;
}
